<div class="container-fluid">
  <!-- Wrapper for Info and About Sections -->
  <div class="info-about-wrapper">
    <!-- Basic Information Section -->
    <div class="info-section">
      <h2>Basic Information</h2>
      <div class="info-box">
        <div class="row">
          <div class="col-35">
            <p><strong>LinkedIn:</strong></p>
            <p><strong>Email:</strong></p>
            <p><strong>Location:</strong></p>
            <p><strong>Language:</strong></p>
          </div>
          <div class="col-65">
            <p><a href="https://www.linkedin.com/in/iryna-shyrobokova" target="_blank">www.linkedin.com/in/iryna-shyrobokova</a></p>
            <p><a href="mailto:i.v.shyrobokova@gmail.com">i.v.shyrobokova&#64;gmail.com</a></p>
            <p><a href="https://www.google.com/maps/place/Toronto,+ON,+Canada" target="_blank">Greater Toronto Area, Canada</a></p>
            <p><a href="https://translate.google.com/" target="_blank">English, Ukrainian, Russian</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- About Section -->
    <div class="about-section">
      <h2>About</h2>
      <div class="about-box">
        <div class="about-content">
          <p>
            I love delving into customer problems and resolving them using
            <strong>SQL, .Net, C#, API, Jira, Git, Bizage, Microsoft Project, or Wrike</strong>.
            I design, enhance, and analyze business processes, primarily in the fields of production, maintenance, finance, and mining.
            My personal and professional journey has taught me several valuable lessons.
          </p>
        </div>
        <!-- Download CV Button -->
        <div class="navbar-buttons">
          <a href="src/assets/Iryna_Shyrobokova_CV.pdf" class="btn-cv" download="Iryna_Shyrobokova_CV.pdf">Download CV</a>
        </div>
      </div>
    </div>
  </div>
</div>
