<footer class="footer">
  <div class="footer-content">
    <nav>
      <div class="navbar">
        <!-- Hamburger icon for small screens -->
        <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fas fa-bars"></i>
        </span>
        <ul class="main-nav" id="js-menu">
          <li class="nav-links"><a href="#about">ABOUT</a></li>
          <li class="nav-links"><a href="#skills">SKILLS</a></li>
          <li class="nav-links"><a href="#experience">EXPERIENCE</a></li>
          <li class="nav-links"><a href="#portfolio">PORTFOLIO</a></li>
          <li class="nav-links"><a href="#education">EDUCATION</a></li>
          <li class="nav-links"><a href="#references">REFERENCES</a></li>
        </ul>
      </div>
    </nav>
    <p class="footer-name"><a href="#">Iryna Shyrobokova</a> © 2024.</p>
  </div>
</footer>
