<footer class="footer">
  <div class="footer-content">
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a href="#about">ABOUT</a></li>
        <li class="nav-item"><a href="#skills">SKILLS</a></li>
        <li class="nav-item"><a href="#experience">EXPERIENCE</a></li>
        <li class="nav-item"><a href="#portfolio">PORTFOLIO</a></li>
        <li class="nav-item"><a href="#education">EDUCATION</a></li>
        <li class="nav-item"><a href="#references">REFERENCES</a></li>
      </ul>
    </nav>
    <p class="footer-name"><a href="#">Iryna Shyrobokova</a> © 2024.</p>
  </div>
</footer>
