<header class="main-header">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <!-- Navigation Menu -->
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a href="#about">ABOUT</a></li>
      <li class="nav-item"><a href="#skills">SKILLS</a></li>
      <li class="nav-item"><a href="#experience">EXPERIENCE</a></li>
      <li class="nav-item"><a href="#portfolio">PORTFOLIO</a></li>
      <li class="nav-item"><a href="#education">EDUCATION</a></li>
      <li class="nav-item"><a href="#references">REFERENCES</a></li>
    </ul>
    <!-- Hire Me Button -->
    <div class="navbar-buttons">
      <a href="https://calendly.com/i-v-shyrobokova" target="_blank" class="btn-primary">Schedule a Call</a>
    </div>
  </nav>
</header>


<div class="profile-background">
  <div class="profile-section">
    <div class="profile-image">
      <img src="assets/profile.jpg" alt="Iryna Shyrobokova">
    </div>
    <h1 class="profile-name">Iryna Shyrobokova</h1>
    <p class="profile-role">IT PROJECT MANAGER, TEAM LEADER, .NET DEVELOPER</p>
  </div>
</div>
