<!-- Header Section -->
<app-header></app-header>

<!-- About Section -->
<section id="about" class="section-box">
  <app-about></app-about>
</section>

<!-- Skills Section -->
<section id="skills" class="section-box">
  <app-skills></app-skills>
</section>

<!-- Experience Section -->
<section id="experience" class="section-box">
  <app-experience></app-experience>
</section>

<!-- Portfolio Section -->
<section id="portfolio" class="section-box">
  <app-portfolio></app-portfolio>
</section>

<!-- Education Section -->
<section id="education" class="section-box">
  <app-education></app-education>
</section>

<!-- Profile Section -->
<section id="profile" class="section-box">
  <profile></profile>
</section>

<!-- Footer Section -->
<app-footer></app-footer>
