<div class="container">
  <h2>Education</h2>

  <div class="education-item">
    <div class="education-left">
      <p>May 2024 - Nov 2024</p>
      <h4>Humber College</h4>
    </div>
    <div class="education-right">
      <h3>Full Stack .NET Cloud Developer</h3>
      <p>Advanced C# Programming, Angular Web Application Development, C# and Windows Desktop Application, DB Design and Data Querying with SQL Server, Distributed Application Development in the Cloud, WEB Technologies</p>
    </div>
  </div>

  <div class="education-item">
    <div class="education-left">
      <p>Mar 2024 - Apr 2024</p>
      <h4>Humber College</h4>
    </div>
    <div class="education-right">
      <h3>Lean Six Sigma Green Belt Training Workshops</h3>
      <p>Workshop focused on improving business processes through Lean Six Sigma methodologies and practices.</p>
    </div>
  </div>
  <!-- Add New Educations -->
  <!-- Third Education Entry -->
  <div class="education-item">
    <div class="education-left">
      <p class="date">Aug 2023 - Sep 2023</p>
      <h4>ACCES Employment in partnership with Humber College</h4>
</div>
    <div class="education-right">
      <h3>Leadership Connections Program</h3>
      <p>Leadership Model, Business Communication, Critical Thinking & Problem Solving.</p>
    </div>
  </div>

  <!-- Fourth Education Entry -->
  <div class="education-item">
    <div class="education-left">
      <p class="date">Aug 2022 - Oct 2022</p>
      <h4>McGill University</h4>
</div>
    <div class="education-right">
      <h3>English Language and Culture</h3>
      <p>Focused on improving English language skills and cultural understanding.</p>
    </div>
  </div>

  <div class="education-item">
    <div class="education-left">
      <p>Aug 2021 - Aug 2021</p>
      <h4>PMDOC, Odessa, Ukraine</h4>
    </div>
    <div class="education-right">
      <h3>The Applied Project Management Course</h3>
      <p>Professional development course covering best practices in project management and applied skills for managing complex projects.</p>
    </div>
  </div>

  <div class="education-item">
    <div class="education-left">
      <p>Sep 1996 - Jul 2002</p>
      <h4>Kremenchug State Polytechnic University</h4>
    </div>
    <div class="education-right">
      <h3>Master's Degree, Automation and Electric Drive Electromechanical System Engineering</h3>
      <p>Skills acquired include Information Technology, Budget Management, and Project Management.</p>
    </div>
  </div>
</div>
