<div class="skills-container">
  <h2>Professional Skills</h2>
  <div class="skills-grid">
    <!-- Skill 1:  -->
    <div class="skill">
      <div class="skill-label">
        <span>Project Management</span>
        <span>95%</span>
      </div>
      <div class="skill-bar">
        <div class="progress" style="width: 95%;"></div>
      </div>
    </div>

    <!-- Skill 2:  -->
    <div class="skill">
      <div class="skill-label">
        <span>Business Process Improvement</span>
        <span>100%</span>
      </div>
      <div class="skill-bar">
        <div class="progress" style="width: 100%;"></div>
      </div>
    </div>

    <!-- Skill 3:  -->
    <div class="skill">
      <div class="skill-label">
        <span>Team Management</span>
        <span>100%</span>
      </div>
      <div class="skill-bar">
        <div class="progress" style="width: 100%;"></div>
      </div>
    </div>

    <!-- Skill 4:  -->
    <div class="skill">
      <div class="skill-label">
        <span>Software Development</span>
        <span>95%</span>
      </div>
      <div class="skill-bar">
        <div class="progress" style="width: 95%;"></div>
      </div>
    </div>

    <!-- Skill 5:  -->
    <div class="skill">
      <div class="skill-label">
        <span>Software Design</span>
        <span>100%</span>
      </div>
      <div class="skill-bar">
        <div class="progress" style="width: 100%;"></div>
      </div>
    </div>

    <!-- Skill 6:  -->
    <div class="skill">
      <div class="skill-label">
        <span>.NET</span>
        <span>95%</span>
      </div>
      <div class="skill-bar">
        <div class="progress" style="width: 95%;"></div>
      </div>
    </div>
  </div>
</div>
